/* Reset some default styles and set a base font */

body {
    font-family: 'Kanit', sans-serif;
    background-color: #273746;
    color: #ffffff;
    margin: 0;
}


/* Center the game container vertically and horizontally */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


/* Styles for the main game container */

.game-container {
    text-align: center;
    margin-top: 50px;
}


/* Styling for the game board */

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


/* Styles for each cell in the game board */

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    height: 100px;
    background-color: #383838;
    border: 2px solid #4d4d4d;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}


/* Hover effect for cells */

.cell:hover {
    background-color: #007bff;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


/* Styles for the reset button */

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}


/* Hover effect for the reset button */

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}


/* Custom styles for 'O' symbol */

.fa-circle {
    color: #28a745;
}


/* Custom styles for 'X' symbol */

.fa-times {
    color: #dc3545;
}


/* Styles for the turn indicator */

#turnIndicator {
    color: #d4d4d4;
    font-size: 1.5em;
    margin-bottom: 15px;
    transition: color 0.3s;
}


/* Hover effect for the turn indicator */

#turnIndicator:hover {
    color: #ffffff;
}